* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    background-color: #f9f9f9;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    display: flex;
    background-color:#2980b9;
    color: #fff;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
  }
  
  header img {
    width: 500px;
    height: auto;
    margin: 0;
  }

 main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  
  section {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    width: calc(33.33% - 40px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  section h2 {
    margin-top: 0;
  }

  section p {
    margin-bottom: 20px;
  }

  .btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #3e8e41;
  }
  
  footer {
    background-color: #2980b9;
    color: #fff;
    padding: 10px;
    text-align: center;
    clear: both;
  }
  
  footer p {
    margin-bottom: 0;
  }
  
  footer a {
    color: #ccc;
    text-decoration: none;
  }
  
  footer a:hover {
    color: #fff;
  }
