* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f9f9f9;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

header {
  background-color: #2980b9;
  padding: 20px;
  text-align: center;
}

header img.logo {
  width: 500px;
  height: auto;
  margin: 0 auto;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #2980b9;
  border: 1px solid #2980b9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.solicitar-citas {
  padding: 20px;
}

.solicitar-citas h2 {
  margin-top: 0;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
}

.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.calendar {
  margin-top: 20px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.prev-month, .next-month {
  cursor: pointer;
}

.month {
  font-weight: bold;
}

.calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
}

.calendar-day {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.calendar-day:hover {
  background-color: #f0f0f0;
}

button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

footer {
  background-color: #2980b9;
  color: white;
  padding: 10px;
  text-align: center;
  clear: both;
}

footer p {
  margin-bottom: 0;
}